#titl-card {
    text-align: center;
    color: #d62828;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#txt-card {
    font-size: 16px;
}